*{
    margin:0;
    padding:0;
    color:pink;
}

body {
	min-width: 1024px;
}

@font-face{
    font-family: "myfont";
    src: url("fonts/odstemplik/odstemplik.otf") format("opentype"),url("fonts/odstemplik/odstemplikBold.otf") format("opentype")
}

.top-img{
    background-image: url("https://github.com/RBchaser/test-didactic-couscous/blob/master/img01.jpg?raw=true");
    background-size:cover;
    background-attachment: fixed;
}

.top-text{
    text-align:center;
    padding:250px 0;
}

.top-text h1{
    font-size:100px;
    font-family: "myfont";
}


nav h3{
    font-family: "myfont";
}

nav .fas, nav .far{
    color: #888;
}
.night-sky{
    background-image: url("https://github.com/RBchaser/test-didactic-couscous/blob/master/fix-bg.jpg?raw=true");
    padding:200px 0;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
}

.night-sky h2{
    font-family: "myfont";
    font-size: 80px;
    margin-bottom: 40px;
}

/*
.carousel-item{
    height:500px;
}
これだとスマホサイズの時に下に余白ができてしまう
*/

.carousel-item{
    height:auto;
}

.service-list{
    background-color: #333;
    padding:50px;
}

.service-list h2{
    text-align:center;
    font-family: "myfont";
    font-size: 80px;
}

.service-img{
    width: 100%;
}

.service-description{
    padding:30px;
}

.info{
    border:solid 2px white;
    margin:20px;
    padding:20px;
}

.icon{
    font-size:100px;
}

footer{
    background-color: #333;
    padding:30px;
}

footer p{
    text-align:right;
}

footer ul li{
    list-style:none;
}

footer ul li a{
    color:#aaa;
    font-size: 15px;
}

footer ul li a:hover{
    color: #fff;
    text-decoration:none;
}
